@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-stone-light: hsl(30, 54%, 90%);
    --color-stone-medium: hsl(30, 18%, 87%);
    --color-stone-dark: hsl(30, 10%, 34%);
    --color-stone-darker: hsl(30, 4%, 18%);
    --color-brown: hsl(14, 45%, 36%);
    --color-rose-dark: hsl(332, 51%, 32%);
    --color-rose-light: hsl(330, 100%, 98%);
}

body {
    display: grid;
    place-items: center;
    font-family: 'Young Serif', serif;
    background-color: var(--color-stone-light);
}

.recipe-container {
    width: 50rem;
    margin: 10px 0;
    padding: 2.2rem;
    border-radius: 1.5rem;
    background-color: var(--color-white);
}

section {
    padding: 2rem;
}

.main-section {
    color: var(--color-stone-dark);
    background-color: var(--color-rose-light);
    margin-top: 2.2rem;
    border-radius: 10px;
}

section:nth-of-type(2),
section:nth-of-type(3) {
    border-bottom: 1px solid var(--color-stone-light);
}

img {
    width: 100%;
    border-radius: 15px;
}

.title {
    font-size: 2.2rem;
    margin: 1.5rem 0;
    color: var(--color-stone-darker);
}

.text {
    color: var(--color-stone-dark);
}

.subtitle {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--color-brown);
}

.subtitle-2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--color-rose-dark);
}

.highlight {
    line-height: 2.5;
    font-weight: 600;
    color: var(--color-stone-dark);
}

.ingredients-section {
    line-height: 2.5;
    color: var(--color-stone-dark);
}

ul {
    margin-left: 1.5rem;
}

span {
    margin-left: 10px;
}

li::marker {
    font-size: .8rem;
    color: var(--color-brown);
}

li {
    color: var(--color-stone-dark);
}

ol li::marker {
    font-size: 1rem;
    font-weight: bold;
}

table {
    width: 100%;
    padding-top: 15px;
    color: var(--color-stone-dark);
}

td:nth-of-type(2) {
    color: var(--color-brown);
    font-weight: bold;
}

td {
    border-bottom: 1px solid var(--color-stone-light);
    padding: 14px 0;
}

@media (min-width: 992px) {
    .recipe-container {
        width: 50rem;
        padding: 2.2rem;
        border-radius: 1.5rem;
    }

    .title {
        font-size: 2.2rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .subtitle-2 {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .recipe-container {
        width: 70%;
        padding: 1.5rem;
        border-radius: 1rem;
    }

    .title {
        font-size: 1.8rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .subtitle-2 {
        font-size: 1.2rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .recipe-container {
        width: 90%;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .subtitle-2 {
        font-size: 1rem;
    }
}

@media (max-width: 575.98px) {
    .recipe-container {
        width: 98%;
        padding: 0.5rem;
        border-radius: 0;
    }

    .title {
        font-size: 1.2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .subtitle-2 {
        font-size: 0.9rem;
    }

    .attribution{
        font-size: 0.8rem;
    }
}